body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-height: 100vh;
    background-color:#fff;
    text-align: center;

}
  
h1{
    font-size: 60px;
    color: #933835;
    font-weight: 550;
}

h2{
    font-size: 30px;
    color: #933835;
    font-weight: 550;
}