*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    min-height: 80vh;
    background-color: #fff;
}
  
.container {
    text-align: center;
    margin: 20px;
}

h1,
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #933835;
    font-weight: 550;

}
h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 24px;
    font-weight: 500;
}

.ref{
    font-size: 16px;
}
